/*
 *  CommandWidgets Styles
 *  Created by Nikhil Dabas ( ndabas@hotmail.com ).
 */

.glyph { font-family: webdings; font-size: 10pt; }

cw\:bars     { behavior: url(CWContainer.htc); }
cw\:bar      { behavior: url(CWBar.htc); }
cw\:status   { behavior: url(CWStatusBar.htc); }
cw\:barsep   { behavior: url(CWBarSeperator.htc); }
cw\:menusep  { behavior: url(CWMenuSeperator.htc); }
cw\:button   { behavior: url(CWButton.htc); }
cw\:control  { behavior: url(CWStatusControl.htc); }
cw\:menu     { behavior: url(CWMenu.htc); }
cw\:menuitem { behavior: url(CWMenuItem.htc); }
cw\:combobox { behavior: url(CWComboBox.htc); }
cw\:options  { behavior: url(CWComboOptions.htc); }
cw\:option   { behavior: url(CWComboOption.htc); }
#client      { behavior: url(CWClient.htc); }

body {
  padding: 0px 0px 0px 0px;
  margin: 0px;
  border: none;
  /*scrollbar-face-color: #eee;
  scrollbar-highlight-color: #eee;
  scrollbar-3dlight-color: #ccc;
  scrollbar-darkshadow-color: #666;
  scrollbar-shadow-color: #999;
  scrollbar-arrow-color: #333;
  scrollbar-track-color: #fff;*/
  scrollbar-base-color: #eee;
}