/*
 *  Command Bar Styles
 *  Created by Nikhil Dabas ( ndabas@hotmail.com ).
 */

.glyph { font-family: webdings; font-size: 10pt; }

cb\:bars     { behavior: url(CommandBars.htc); }
cb\:bar      { behavior: url(CommandBar.htc); }
cb\:status   { behavior: url(CommandBarStatusBar.htc); }
cb\:barsep   { behavior: url(CommandBarSeperator.htc); }
cb\:menusep  { behavior: url(CommandBarMenuSeperator.htc); }
cb\:button   { behavior: url(CommandBarButton.htc); }
cb\:control  { behavior: url(CommandBarStatusControl.htc); }
cb\:menu     { behavior: url(CommandBarMenu.htc); }
cb\:menuitem { behavior: url(CommandBarMenuItem.htc); }
cb\:combobox { behavior: url(CommandBarComboBox.htc); }
cb\:options  { behavior: url(CommandBarComboOptions.htc); }
cb\:option   { behavior: url(CommandBarComboOption.htc); }
#client      { behavior: url(Client.htc); }

body {
  padding: 0px 0px 0px 0px;
  margin: 0px;
  border: none;
  /*scrollbar-face-color: #eee;
  scrollbar-highlight-color: #eee;
  scrollbar-3dlight-color: #ccc;
  scrollbar-darkshadow-color: #666;
  scrollbar-shadow-color: #999;
  scrollbar-arrow-color: #333;
  scrollbar-track-color: #fff;*/
  scrollbar-base-color: #eee;
}