body, table {
  background-color: #eee;
  padding: 0px 0px 0px 0px;
  margin: 0px;
  border: none;
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 8pt;
  scrollbar-base-color: #eee;
}

button, input, select, textarea {
  background-color: #eee;
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 8pt;
  width: 80px;
  border-color: #eee;
  margin: 2px;
}

input, select, textarea { background-color: #fff; }